## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [5]:
# your code
data.value_counts('sex')

sex
Male      21790
Female    10771
dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [10]:
# your code
data[data['sex'] == 'Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [15]:
# your code
data['native-country'].value_counts(normalize=True)['United-States']

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [20]:
# your code
print('<=50K', data[data['salary'] == '<=50K']['age'].mean(), data[data['salary'] == '<=50K']['age'].std())
print('>50K', data[data['salary'] == '>50K']['age'].mean(), data[data['salary'] == '>50K']['age'].std())

<=50K 36.78373786407767 14.020088490824813
>50K 44.24984058155847 10.51902771985177

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [24]:
# your code
for el in data[data['salary'] == '<=50K']['education'].unique():
    if el not in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']:
        print("It's not True")
        break

It's not True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [38]:
# your code
print(data.groupby('race').max()[['sex', 'age']])
print('Max age for Asian-Pac-Islander race is {0}'.format(data.groupby('race').max().loc['Asian-Pac-Islander']['age']))

                     sex  age
race
Amer-Indian-Eskimo  Male   82
Asian-Pac-Islander  Male   90
Black               Male   90
Other               Male   77
White               Male   90
Max age for Asian-Pac-Islander race is 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [60]:
# your code
married = data[(data['marital-status'].str.contains('Married'))]['marital-status'].count()
free = data[~(data['marital-status'].str.contains('Married'))]['marital-status'].count()
married_50 = data[(data['marital-status'].str.contains('Married')) & (data['salary'] == '<=50K')]['marital-status'].count()
free_50 = data[~(data['marital-status'].str.contains('Married')) & ~(data['salary'] == '<=50K')]['marital-status'].count()

In [64]:
print('% of married who have more than 50K per month is {0}% of all married'.format(round(married_50 / married * 100, 2)))
print('% of free who have more than 50K per month is {0}% of all free'.format(round(free_50 / free * 100, 2)))

% of married who have more than 50K per month is 56.31% of all married
% of free who have more than 50K per month is 6.45% of all free

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [77]:
# your code
max_hours = data['hours-per-week'].max()
q_people = data[data['hours-per-week'] == max_hours]['hours-per-week'].value_counts().values[0]
percent_of_people = round(data[data['hours-per-week'] == max_hours]['salary'].value_counts(normalize=True).loc['<=50K'] * 100, 2)
print('maximum of working hours is {0}'.format(max_hours))
print('quantity of people is {0}'.format(q_people))
print('{0}% of that people get more than 50K'.format(q_people))

maximum of working hours is 99
quantity of people is 85
85% of that people get more than 50K

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [79]:
# your code
data.groupby(['native-country', 'salary']).mean()['hours-per-week']

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [86]:
# your code
bins = [16, 35, 70, 100]
name_of_bin = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=bins, labels=name_of_bin)

In [87]:
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,adult
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,adult
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,adult
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,young
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [148]:
# your code
print(data.groupby(['salary', 'AgeGroup']).size())
print(data.groupby(['salary', 'AgeGroup']).size()['<=50K'].head(1))

salary  AgeGroup
<=50K   young       13220
        adult       11054
        retiree       446
>50K    young        1705
        adult        6042
        retiree        94
dtype: int64
AgeGroup
young    13220
dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [155]:
# your code
data.groupby(['occupation']).size()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

In [201]:
def filter_func(data, age=40, hours=5, group='occupation'):

    filtred = data[(data['age'].mean() < age) & (data['hours-per-week'] > hours)]
    grouped = filtred.groupby(group).size()
    return grouped

In [202]:
filter_func(data)

occupation
?                    1752
Adm-clerical         3755
Armed-Forces            9
Craft-repair         4090
Exec-managerial      4052
Farming-fishing       993
Handlers-cleaners    1368
Machine-op-inspct    1999
Other-service        3276
Priv-house-serv       146
Prof-specialty       4114
Protective-serv       647
Sales                3632
Tech-support          927
Transport-moving     1596
dtype: int64